<form class="global" [formGroup]="formulaire" (ngSubmit)="onConnexion()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Ex. a@a.com" />
    @if(formulaire.get('email')?.hasError('required')) {
      <mat-error>L'email est obligatoire</mat-error>
    } @else if (formulaire.get('email')?.hasError('email')) {
      <mat-error>L'email est mal formé</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input formControlName="password" matInput type="password" />
    <mat-error>Le mot de passe est obligatoire</mat-error>
  </mat-form-field>

  <button mat-raised-button>Connexion</button>
</form>
