<div class="container-fluid bg-secondary">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-center text-white my-3">Liste des formations</h1>
      <button mat-raised-button routerLink="/ajout-produit">
        Ajouter une formation
      </button>
    </div>

    <div class="row row-cols-2">
      @for (training of trainings; track $index) {

      <div class="mb-4">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ training.name }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="http://localhost:5000/{{ training.image }}"
            alt="{{ training.name }}"
          />
          <mat-card-content>
            <p>{{ training.description }}</p>
          </mat-card-content>

          <mat-card-actions>
            <button
              mat-button
              routerLink="/modifier-produit/{{ training.training_id }}"
            >
              Modifier
            </button>
            <button mat-button (click)="onClickSupprimer(training)">
              Supprimer
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      }
    </div>
  </div>
</div>
